Repository mehran-shabani-j/servinoo, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/ui, area/auth, area/dashboard, area/search, area/providers, area/config, area/docs, area/ci, area/types, area/lib, area/scripts, area/db, dependencies, breaking-change

Update GitHub Actions workflows to use pnpm 9 and CodeQL v3
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Labels: area/ci

Enhance UI/UX with accessibility, performance, and design improvements
  README.md
  app/globals.css
  app/layout.tsx
  app/loading.tsx
  app/page.tsx
  components/landing-search-form.tsx
  components/ui/accessible-icon.tsx
  components/ui/lazy-image.tsx
  components/ui/responsive-container.tsx
  hooks/use-performance.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  test/components/landing-search-form.test.tsx
  test/components/ui/button.test.tsx
  test/components/ui/card.test.tsx
  test/e2e/homepage.spec.ts
  test/setup.ts
  vitest.config.ts
Labels: area/frontend, area/ui, area/search, area/config, area/docs, dependencies

Use built-in pnpm cache in GitHub Actions setup-node
  .github/workflows/ci.yml
Labels: area/ci

Enhance GitHub workflows with permissions and fork checks
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  package.json
Labels: area/config, area/ci, dependencies

Update GitHub Actions to use pnpm 9 and improve caching configuration
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
Labels: area/ci

Migrate to pnpm, update CI/CD and Vercel config, adjust Next.js metadata
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  app/layout.tsx
  vercel.json
Labels: area/frontend, area/ci

chore: repair pnpm lockfile and set packageManager pnpm@9 via corepack
  package.json
  pnpm-lock.yaml
Labels: area/config, dependencies

Update Vercel config to use non-frozen lockfile for pnpm install
  vercel.json
Labels: none

Chore: Update dependencies, types, and minor code improvements
  app/globals.css
  app/providers/[id]/page.tsx
  app/search/page.tsx
  components/landing-search-form.tsx
  components/ui/responsive-container.tsx
  hooks/use-performance.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: area/frontend, area/ui, area/search, area/providers, area/config, dependencies

Update GitHub Actions upload artifact action to v4
  .github/workflows/ci.yml
Labels: area/ci

Update deploy.yml
  .github/workflows/deploy.yml
Labels: area/ci

Update deploy.yml
  .github/workflows/deploy.yml
Labels: area/ci

Update deploy.yml
  .github/workflows/deploy.yml
Labels: area/ci

Update deploy.yml
  .github/workflows/deploy.yml
Labels: area/ci

Update deploy.yml
  .github/workflows/deploy.yml
Labels: area/ci

Enhance Vercel deployment workflow with GitHub deployment tracking
  .github/workflows/deploy.yml
Labels: area/ci

.github/labeler.yml:

# Configuration for automatic labeling based on file changes

'area/frontend':
  - 'app/**'
  - 'components/**'
  - 'styles/**'
  - 'public/**'

'area/ui':
  - 'components/ui/**'

'area/auth':
  - 'app/(auth)/**'
  - 'lib/supabase/**'

'area/dashboard':
  - 'app/(dashboard)/**'

'area/search':
  - 'app/search/**'
  - 'components/search-filters.tsx'
  - 'components/landing-search-form.tsx'

'area/providers':
  - 'app/providers/**'

'area/config':
  - '*.config.*'
  - 'tsconfig.json'
  - '.eslintrc.*'
  - 'package.json'
  - 'pnpm-lock.yaml'

'area/docs':
  - '*.md'
  - 'docs/**'

'area/ci':
  - '.github/**'

'area/types':
  - '**/*.d.ts'
  - 'types/**'

'area/lib':
  - 'lib/**'

'area/scripts':
  - 'scripts/**'

'area/db':
  - 'scripts/*.sql'
  - '**/migrations/**'

'dependencies':
  - 'package.json'
  - 'pnpm-lock.yaml'

'breaking-change':
  - 'BREAKING.md'
  - 'CHANGELOG.md'
